{% extends 'Blog/base.html' %}

{% block main_content %}
  <div class="container mt-5 mb-5 d-flex flex-column justify-content-center">  
    <h1 class="text-center">About us</h1>
    <p style="font-size:medium">Hi, mi name is Franco Silvestro. I work as a QA & Automation Developer in AFIP. 
        I also worked almost a year as a PHP developer. </p>
    <p style="font-size:medium">This blog was made with pure Django as a final project of the Python course given in Coderhouse </p>
  </div>
{% endblock %}