{% extends 'Blog/base.html' %}

{% block main_content %}
  <div class="container mt-5 mb-5 d-flex flex-column justify-content-center">  
    <h1 class="text-center">About us</h1>
    <p style="font-size:large">Hi, mi name is Franco Nicolás Silvestro.</p>
    <p style="font-size:large">I work as a QA & Automation Developer in AFIP for around 3 or more years.</p>
    <p style="font-size:large"> I also worked almost a year as a PHP developer for almost a year. </p>
    <p style="font-size:large">This blog was made with pure Django as a final project of the Python course given in Coderhouse </p>
    <p style="font-size:large">I found python very usefull and friendly to do web development or scripting. 
      I passed more than a year without coding and this course helped me a lot to be able for a job change</p>
  </div>
{% endblock %}