{% extends 'Blog/base.html' %}

{% block main_content %}
<div class="container mt-5">
    {% if formulario.errors %}
    <p style="color: rgb(211, 70, 70)"> There are problems with the loaded data</p>
    {% endif %}
        

    <form action="/blog/comments/" method="POST" class="form-group">
        {% csrf_token %}
        <table class="table">
            {{formulario.as_table}}
        </table>

        <input type="submit" value="Submit Comment" class="btn btn-primary">
    </form>
</div>
<div class="container mt-5 mb-5 d-flex flex-column justify-content-center">
    <form action="/blog/comments/" method="GET">
        <label>Search Comment
        <input type="text" name="searchcomment"></label>

        <input class="btn btn-primary" type="submit" value="Search">

    </form>
    {% if search_error %}<p style="color:red">{{search_error}}</p>{% endif %}
</div>
<div class="container mt-5 mb-5 d-flex flex-column justify-content-center">
    {% for comment in comments%}
    <div class="card w-75">
        <div class="card-body">
          <p class="card-text text-truncate">{{comment.text}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}