{% extends 'Blog/base.html' %}

{% block main_content %}
<div class="container mt-5 mb-5 d-flex flex-column justify-content-center">
    <form method="post" class="form-group">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        
        <input type="submit" class="btn btn-primary" value="Send">
    </form>
    {% if avatar %}
        <div>
            <img src="{{avatar}}" style="height: 300px; width: 300px;" alt="">
        </div>
    {% else %}
        <p>
            You have no avatar
        </p>
    {% endif %}
    {% if request.user.is_superuser %}
        <a href="{% url 'AddAvatar' %}" class="btn btn-primary">Load or edit Avatar</a>
        <a href="{% url 'DeleteAvatar' %}" class="btn btn-danger">Delete Avatar</a>
    {% endif %}
</div>
{% endblock %}