{% extends 'Blog/base.html' %} 
{% load static  %}
{% block main_content %}
<div class="container text-center">
    <br> <br>
    <h2 class="thin">This is the best place to share your knowledge, your experience, your life..</h2>
    <p class="text-muted">
        Come and share all you want. We are proud to have you with us.
    </p>
</div>
<!-- /Intro-->
    
<!-- Highlights - jumbotron -->
<!-- /Highlights -->

<!-- container -->
<div class="container">

    <h2 class="text-center top-space">Frequently Asked Questions</h2>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <h3>What kind of posts can i share?</h3>
            <p>You can share everything you want, but not adult or ilegal content.</p>
        </div>
        <div class="col-sm-6">
            <h3>Where is all the information hosted?</h3>
            <p>
               All the posts are hosted at our local server at this moment, by the time we wish to grow more and transfer everything to AWS servers. </p>
        </div>
    </div> <!-- /row -->

    <div class="row">
        <div class="col-sm-6">
            <h3>Do you give somenthing to users that make lots of post?</h3>
            <p>
                We are thinking on giving a reward to the best user of the month, but actually we are discusing that point.
            </p>
        </div>
        <div class="col-sm-6">
            <h3>What do you think about Python?</h3>
            <p>I love it, it makes easier the complex thing you want to do with other languages.</p>
        </div>
    </div> <!-- /row -->

</div>
{% endblock %}
