{% extends 'Blog/base.html' %}

{% block main_content %}
<div class="container mt-5">
    {% if formulario.errors %}
    <p style="color: rgb(211, 70, 70)"> There are problems with the loaded data</p>
    {% endif %}
        

    <form action="/blog/posts/" method="POST" class="form-group">
        {% csrf_token %}
        <table class="table">
            {{formulario.as_table}}
        </table>

        <input type="submit" value="Submit Post" class="btn btn-primary">
    </form>
    {% if error %}<p style="color:red">{{error}}</p>{% endif %}
</div>
<div class="container mt-5 mb-5 d-flex flex-column justify-content-center">
    <form action="/blog/posts/" method="GET">
        <label>Search Posts
        <input type="text" name="searchtitle"></label>

        <input class="btn btn-primary" type="submit" value="Search">

    </form>
    {% if search_error %}<p style="color:red">{{search_error}}</p>{% endif %}
</div>
<div class="container mt-5 mb-5 d-flex flex-column justify-content-center">
    {% for p in posts%}
    <div class="card w-75">
        <div class="card-body">
          <h3 class="">{{p.title}}</h5>
          <p class="card-text text-truncate">{{p.text}}</p>
          <p>Created At:{{p.date}}</p>
          <a href="#" class="btn btn-primary">Read post</a>
          <a class="btn btn-primary" href="{% url 'UpdatePost' p.id %}">Update Post</a>
          <a class="btn btn-primary" href="{% url 'DeletePost' p.id %}">Delete Post</a>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}