{% extends 'Blog/base.html' %}

{% block main_content %}
    <form action="/blog/searchpost/" method="get">
        
        <input type="text" name="title">

        <input type="submit" value="Search">

    </form>

    {% if error %}<p style="color:red">{{error}}</p>{% endif %}

    {% if post %}
        <div class="container mt-5 mb-5 d-flex flex-column justify-content-center">
            <div class="card w-75">
                <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text text-truncate">{{post.text}}</p>
                <p>Created At:{{post.date}}</p><a href="#" class="btn btn-primary">Read post</a>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}