{% extends 'Blog/base.html' %}

{% block main_content %}
<div class="container mt-5">
    {% if formulario.errors %}
    <p style="color: rgb(211, 70, 70)"> There are problems with the loaded data</p>
    {% endif %}
        

    <form action="/blog/users/" method="POST" class="form-group">
        {% csrf_token %}
        <table class="table">
            {{formulario.as_table}}
        </table>

        <input type="submit" value="Submit User" class="btn btn-primary">
    </form>
    {% if error %}<p style="color:red">{{error}}</p>{% endif %}
</div>
<div class="container mt-5 mb-5 d-flex flex-column justify-content-center">
    <form action="/blog/users/" method="GET">
        <label>Search Users
        <input type="text" name="searchemail"></label>

        <input class="btn btn-primary" type="submit" value="Search">

    </form>
    {% if search_error %}<p style="color:red">{{search_error}}</p>{% endif %}
</div>
<div class="container mt-5 mb-5 d-flex flex-column justify-content-center">
    {% for user in users%}
    <div class="card w-75">
        <div class="card-body">
          <h3 class="card-title">{{user.name}} {{user.surname}}</h5>
          <p class="card-text text-truncate">{{user.email}}</p>
          <a href="#" class="btn btn-primary">User details</a>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}